<div class="content-box">
  <div ng-controller="ShowPlotsController" class="content-box--inner">
    <show-plots plots="plots" display-limit="displayLimit" fetch-plots="fetchPlots"></show-plots>
  </div>
</div>
