<div ng-controller="MapController">
  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view"></div>
    </div>
  </div>
</div>

<script>
  var map;
  var ajaxRequest;
  var plotlist;
  var plotlayers=[];

  // set up the map
  map = new L.Map('mapid', { scrollWheelZoom: false });

  // create the tile layer with correct attribution
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});

  var marker = L.marker([56.235337, 10.222778]).addTo(map);
  var marker = L.marker([56.248691, 10.260544]).addTo(map);
  var marker = L.marker([56.165053, 10.130081]).addTo(map);
  var marker = L.marker([56.157406, 10.150681]).addTo(map);
  var marker = L.marker([56.149757, 10.171280]).addTo(map);
  var marker = L.marker([56.037144, 10.194626]).addTo(map);
  var marker = L.marker([56.057144, 10.124626]).addTo(map);

  map.setView(new L.LatLng(56.035660, 10.187073),14);
  map.addLayer(osm);
</script>