{% include '@itk_hamburger_menu/../icons/menu.svg' %}
<div class="hamburger-menu--overlay js-hamburger-menu-overlay js-menu-toggle">
  <nav class="hamburger-menu js-hamburger-menu">
    <div class="hamburger-menu--inner">
      {% include '@itk_hamburger_menu/../icons/close.svg' %}
      <div class="hamburger-menu--links">
        {{ menu }}
      </div>
    </div>
  </nav>
</div>
