<div ng-controller="MapController">
  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view">
        <div id="popup"></div>
      </div>
      <div class="map--legend" data-ng-if="type == 'subdivision'">
        <p class="map--legend-item is-available">Ledig</p>
        <p class="map--legend-item is-reserved">Reserveret</p>
        <p class="map--legend-item is-sold">Solgt</p>
        <p class="map--legend-item is-future">Fremtidig</p>
        <p class="map--legend-item is-offering">I udbud</p>
      </div>
    </div>
  </div>
</div>
