<div class="popup">
  <div class="popup--close-button-wrapper">
    <span class="popup--close-button" data-ng-click="close()">x</span>
  </div>
  <div class="popup--content-wrapper">
    <h3 class="popup--title">{{ content.name }}</h3>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Type') }}</p>
      <p class="popup--value">{{ content.enhtype }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Address') }}</p>
      <p class="popup--value">{{ content.adress }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Homepage') }}</p>
      <p class="popup--value"><a href="{{  content.hjside }}" target="_blank">{{ content.hjside }}</a></p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Leader') }}</p>
      <p class="popup--value">{{ content.leder }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Telephone') }}</p>
      <p class="popup--value">{{ content.tlf }}</p>
    </div>
  </div>
</div>