<div class="nav-toggle js-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<nav class="hamburger-menu js-hamburger-menu">
  <div class="hamburger-menu--inner">
    <div class="hamburger-menu--links">
      {{ menu }}
    </div>
  </div>
</nav>

