<div class="content-image">
  <div ng-animate="'animate'" class="content-image--inner" ng-repeat="image in images" ng-show="image.visible">
    <img ng-src="{{ image.url }}" alt="{{ image.alt }}" />
  </div>
  <div ng-if="images.length > 1" class="content-image--arrow-left" ng-click="prev()">
    <div class="arrow-link" data-ng-include="modulepath + '/images/arrow.svg'">
    </div>
  </div>
  <div ng-if="images.length > 1" class="content-image--arrow-right" ng-click="next()">
    <div class="arrow-link" data-ng-include="modulepath + '/images/arrow.svg'">
    </div>
  </div>
</div>
