<div>
  <div class="content-box--content">
    <div class="boxes">
      <div class="boxes--inner">
        <article class="boxes--box is-inside-context-box" data-ng-repeat="plot in plots" data-ng-class="{'is-offering' : plot.status == 'Udbud','is-sold' : plot.status == 'Solgt','is-available' : plot.status == 'Ledig'}">
          <div class="form-item">
            <div class="container-inline">
              <h4 class="label inline">Status</h4> {{ plot.address }}
            </div>
            <div class="container-inline">
              <h4 class="label inline">Status</h4> {{ plot.status }}
            </div>
            <div class="container-inline">
              <h4 class="label inline">Areal (m2)</h4> {{ plot.area_m2 }}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
